.App {
  text-align: center;
  position: relative;
  margin-bottom: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  background-color: black;
  color: whitesmoke;
  bottom: 0;
  width: 100%;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
}
.header{
  background-color: black;
  color: whitesmoke;
  padding: 20px; 
}
h1{

}
.content{
  padding: 20px;
  margin: 20px;
  
}
.contact{
  padding: 20px;
  margin: 20px;
  position: relative;
}

.content-container{
  margin: 20px;
  padding: 20px;
}
li{
  list-style-type:none;
}